[Desktop Entry]
Type=Application
Name=Frida
Comment=Free Interactive Disassembler
Exec=AppRun %F
Icon=default.png
Terminal=false
Categories=Development;
